body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

header {
  border-bottom: 1px solid #e7e9fc;
}

.container {
  width: 1158px
}

.div-header {

}

.nav-list {
  display: flex;
}

img {
  display: block;
}


.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.span-studio {
  color: #2e2f42;
}

.studio-list {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}

.studio-list:hover {
  color: #404bbf;
}

.studio-list:focus {
  color: #404bbf;


}

.address-one {
  font-style: normal;
}

.link-email-telephone {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.link-email-telephone:hover {
color: #404bbf;
}

.link-email-telephone:focus {
color: #404bbf;
}

.section-one {
  background-color: #2e2f42;
}

.heading-first {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color:  #ffffff;
}

.button-one {
  background-color: #4D5AE5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.button-one:hover {
  background-color: #404BBF;
}

.button-one:focus {
  background-color: #404BBF;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-tree {
  background-color: #F4F4FD;
}

.second-heading {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.list-section-tree {
  background-color: #FFFFFF;
}

.lists-section-tree {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.paragraph-section-tree {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.third-heading {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.lists-section-four {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.paragraph-section-four {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer {
  background-color: #2e2f42;
}

.logo-two {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.span-studio-footer {
  color: #f4f4fd;
}

.paragraph-footer {
  line-height: 1.5;
  color: #F4F4FD;
  letter-spacing: 0.02em;
}