body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

header {
  border-bottom: 1px solid #e7e9fc;
}


.container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}




.nav-list {
display: flex;
align-items: center;
}

.menu-one {
  display: flex;
  gap: 40px;
}

img {
  display: block;
}


.logo {
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.span-studio {
  color: #2e2f42;
}

.studio-list {
padding: 24px 0;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}

.studio-list:hover {
  color: #404bbf;
}

.studio-list:focus {
  color: #404bbf;


}

.address-one {
  font-style: normal;
}

.address-list {
  display: flex;
  gap: 40px;
}

.link-email-telephone {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.link-email-telephone:hover {
color: #404bbf;
}

.link-email-telephone:focus {
color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-one {
  padding: 188px 0;
  background-color: #2e2f42;
}


.section-two {
  padding: 120px 0;
}

.heading-first {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color:  #ffffff;
}

.button-one {
  margin: auto;
  border-radius: 4px;
  border: none;
  height: 56px;
  min-width: 169px;
  display: block;
  background-color: #4D5AE5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.button-one:hover {
  background-color: #404BBF;
}

.button-one:focus {
  background-color: #404BBF;
}



.paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-tree {
  padding: 120px 0;
  background-color: #F4F4FD;
}

.second-heading {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.list-section-two {
  display: flex;
  gap: 24px;
}

.lists-section-two {
  
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.all-section-tree {
  display: flex;
  gap: 24px;
}

.list-section-tree {
  
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
}

.all-section-four {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;

}

.list-section-four {

}
.worker-section-tree {
  padding: 32px 0;
}

.worker-section-four {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.lists-section-tree {
  margin-bottom: 8px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.paragraph-section-tree {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.third-heading {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.section-four {
  padding: 120px 0 120px 0;

}

.lists-section-four {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.paragraph-section-four {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}


.span-studio-footer {
  color: #f4f4fd;
}


.footer {
  padding: 100px 0;

  background-color: #2e2f42;
}

.logo-two {
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
}

.paragraph-footer {
  max-width: 264px;
  line-height: 1.5;
  color: #F4F4FD;
  letter-spacing: 0.02em;
}
